html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height:1 ;
  font-family: 'Roboto','Rubik', sans-serif;
  font-weight: 500;
}
ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}
.header{
  width: 100%;
}
.wrapper {
  max-width:1355px;
  margin: 0 auto;
  padding: 0px;
}

.contain{
  width: 100%;
  height: 36px;
  background-color: #0F2438;
}

.header_top{
  height: 36px;
}

.top_nav_item{
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  color: white;
}

.top_nav_item_l{
  margin-right: 30px;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  color: white;
}

.top_nav_item_l span{
  text-decoration-line: underline;
}

.col_gap{
  column-gap: 30px;
}
.cl_gp{
  column-gap: 15px;
}
.row_gap{
  row-gap: 15px;
}
.rw_gp{
  row-gap: 77px;
}

.header_mid{
  padding: 50px 0;
  height: 90px;
}

h1{
  font-size: 24px;
  line-height: 28px;
  color: #0F2438;
}

.for_h1{
  font-size: 12px;
  line-height: 14px;
}

.for_oclock{
  text-align: right;
  margin-left: 8px;
}

.whats_but{
  font-family: Rubik;
  background: #E1EFD0;
  border-radius: 2px;
  border: none;
  width: 204px;
  height: 30px;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
}

.our_number{
  font-size: 20px;
  line-height: 23px;
  color: #0F2438;
}

.for_our_num{
  text-align: right;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #0F2438;
  opacity: 0.7;
}

#but_bur{
  width: 164px;
  height: 53px;
  background: #005BB9;
  border-radius: 6px;
  color: white;
  border: none;
}

.buregr{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.burger_on_b{
  width: 25px;
  height: 3px;
  background-color: white;
  margin-bottom: 3px;
}

.input-group{
  width: 659px;
}

.btn{
  width: 101px;
  height: 53px;
  background: #005BB9;
  border-radius: 0px 6px 6px 0px;
  color: white;
}

.form-control{
  border: none;
  background: #F4F5FA;
  border-radius: 6px 0px 0px 6px;
}

.vert_line{
  width: 2px;
  height: 26px;
  background-color:  #E1E5F8;
}

.range{
  height: 20px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15);
}

.slider{
  width: 1040px;
  height: 390px;
}
.main{
  margin-top: 40px;
}
.stock_1{
  width: 336px;
  height: 188px;
  background: #F4F5FA;
  border-radius: 10px;
}
.wrap_stock{
  width: 306px;
  height: 148px;
  margin: 20px 15px 20px 15px ;
}

.stock_but{
  width: 57px;
  height: 49px;
  background: #005BB9;
  border-radius: 6px;
  border: none;
}
.bl_photo_stock{
  margin-top: 10px;
}
.price_stock{
  margin-top: 19px;
}
.p_stock_name{
  font-size: 14px;
  line-height: 16px;
  color: #0F2438;
}
.p_info_ab_stock{
  font-size: 16px;
  line-height: 23px;
  color: #0A1A2C;
}
.p_name_ab_stock{
  margin-top: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #525252;
}
.p_price{
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #FFB800;
  margin-right: 10px;
}
.p_price span{
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: line-through;
  color: #C2C5DA;
}
.main_mid{
  column-gap: 30px;
}

.med_chap_cont{ /*medium_chapter three box-flex*/
  padding: 25px;
}
.medium_chapter{
  width: 431px;
  height: 184px;
  background: #FFFFFF;
  border: 1px solid #E1E5F8;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}
.left_tab{
  position: absolute;
  top: 50px;
  left: -40px;
}
.right_tab{
  position: absolute;
  top: 50px;
  left: 387px;
}
.med_chap_cont_p{
  color: #0A1A2C;
  font-size: 24px;
  line-height: 28px;
  padding-top: 5px;

}
.md_chp_cnt_p_inf{
  font-size: 14px;
  line-height: 24px;
  color: #0A1A2C;
  font-weight: 500;
  padding-top: 5px;
}
.medium_chapter_but{
  margin-top: 10px;
  width: 86px;
  height: 26px;
  background: #005BB9;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
}

.but_inform_about_prod{ /*but_inform_about_prod --> <!-- three butt*/
  width: 1355px;
}
.group_prod{
  width: 241px;
  height: 55px;
  background: #005BB9;
  border-radius: 6px;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  border: none;
}
.low_price{
  width: 123px;
  height: 55px;
  border: 2px solid #005BB9;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #005BB9;
  background-color: #FFFFFF;
}
.buy_now{
  width: 229px;
  height: 55px;
  border: 2px solid #005BB9;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #005BB9;
  background-color: #FFFFFF;
}
.but_block_prod{
  width: 160px;
  height: 49px;
  background: #005BB9;
  border-radius: 6px;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  border:none;
  justify-content: center;
  column-gap: 5px;
}
.grid_prod{
  margin-top:25px;
}
.block_prod{
  height: 418px;
  width: 316px;
}
.fat_dis_img{
  position: relative;
}
.discount{
  position: absolute;
  top: 1px;
}
.star_l{
  width: 13px;
  height: 13px;
}

.star{
  font-size: 14px;
  line-height: 16px;
  color: #FFB800;
}
.comm{
  font-size: 14px;
  line-height: 16px;
  color: #B0B0B0;
  margin-left: 5px;
}
.name_prod{
  font-size: 20px;
  line-height: 25px;
  color: #0A1A2C;
}
.price_prod{
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}
.price_prod span{
  font-size: 13px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #005BB9;
  margin-left: 5px;
}
.p_p_p{
  position: relative;
  height: 7px;
  margin-top: 7px;
}
.price_prod_p{
  font-size: 22px;
  line-height: 26px;
  color: #FFB800;
  position: absolute;
}
.price_prod_p span{
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: line-through;
  color: #C2C5DA;
}
.fam_but_bl{
  box-sizing: border-box;
  margin-top: 20px;
}
.pora_telefono{
  display: none;
  /*display: flex;*/
  /*flex-direction: column;*/
}
.fat_but_more{
  text-align: center;
}
.more{
  width: 187px;
  height: 49px;
  background: #FFFFFF;
  border: 2px solid #005BB9;
  border-radius: 6px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #005BB9;
}
h6{
  padding:100px 0px 15px 0px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.foot_line{
  width: 100%;
  height: 9px;
  background: #F5F5F5;
}
.vert_line_b{
  width: 1px;
  height: 20px;
  background: #0C1A2A;
  margin-left: 49px;
}
.bot_b{
  width: 106px;
  height: 22px;
  background: #0C1A2A;
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: none;
}
.event_point_but{
  position: relative;
}
.point{
  position: absolute;
  top:-12px;
  left: 45px;
}
.name_news{
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #005BB9;
  padding: 20px 0px;

}
.news{
  font-size: 16px;
  line-height: 20px;
  color: #242424;

}